 body{
    background:hsl(185, 41%, 84%);
 }
 
 
 .app-header{
   text-align: center;
   padding:20px;
   margin:30px;
 }
 
 .calc-container{
   background-color: #fff;
   margin:150px;
   border-radius:8px;
   width:50%;
   height:15%;
   display: flex;
 }


 .bill{
   padding:10px;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* Footer */
 .attribution { 
    font-size: 11px;
     text-align: center;
     }
      .attribution a {
         color: hsl(228, 45%, 44%); 
        }