 body{
    background:hsl(185, 41%, 84%);
    font-size:24px;
 }

 .app-header{
   text-align: center;
   padding:20px;
   margin:50px;
 }
 
 .calc-container{
   background-color: #fff;
   margin:50px;
   border-radius:8px;
   width:50%;
   height:5%;
   display: flex;
   position: relative;
   top:-10px;
   left:400px;
   padding-bottom:0px;
 }


 .bill{
   padding:10px;
 }
 
 /* .bill-info{
   position:relative;
 } */
 
 .tip-calculations{
   position:relative;
   top:-220px;
   right:-500px;
   background-color: hsl(183, 100%, 15%);
 }
 
 
/* .button{
   margin:100px;
} */
 
 
.person{
   
}
 
 .reset{
   background-color:hsl(184, 14%, 56%);
 }
 
 
 
 
 
 
 
 
 
 /* Footer */
 .attribution { 
    font-size: 11px;
     text-align: center;
     }
      .attribution a {
         color: hsl(228, 45%, 44%); 
        }